# Ignore environment-related files and folders
.venv/
*.env

# Ignore IDE-specific files and folders
.idea/

# Ignore database-related folders
chroma_db/

# Ignore application-specific folders
PoliciesForTheTask/

# Ignore other temporary files
*.log
